/*--------------------
      HTML RULES
----------------------*/

html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    margin: 0;
    padding: 0;
}




/*--------------------
      HEADER RULES
----------------------*/

main {
  padding-top: 69px;
}

header {
      height: 69px;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid seashell;
      position: fixed;
      background-color: black;
      width: 100%;
      top: 0;
      display: flex;
}

nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 69px;
      align-items: center;
      width: 100%;
}

nav img {
      height: 50px;
      padding-left: 10px;
}

nav ul {
      display: flex;
      list-style-type: none;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      padding-right: 30px;
      margin-left: auto;
}

nav ul li a {
      color: seashell;
      text-decoration: underline;
}

nav ul li a:hover {
      color: seashell;
      text-decoration: none;
}


/*--------------------
      MAIN RULES
----------------------*/

.mission .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1200px;
  height: 700px;
  overflow: hidden;
}

.mission .banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-text {
  position: relative;
  z-index: 2;
  text-align: center;
  color: seashell;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
  background-color: black;
  height: 150px;
  width: 100%;
}

.featured div img {
      width: 300px;
      height: 200px;
}

.locations img {
      width: 1200px;
      height: 500px;
}



/*--------------------
      FOOTER RULES
----------------------*/