/*--------------------
      HTML RULES
----------------------*/

html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    margin: 0;
    padding: 0;
}




/*--------------------
      HEADER RULES
----------------------*/




/*--------------------
      MAIN RULES
----------------------*/




/*--------------------
      FOOTER RULES
----------------------*/